.navbarContainer {
  box-shadow: 0 10px 10px -12px rgb(136, 134, 134);
  overflow: hidden;
}
.navHighLight {
  font-size: 22px;
}
.navHighLight::after {
  content: " ⬤";
  font-size: 7px;
  color: #ea1d63;
  vertical-align: bottom;
}
.navRout {
  font-size: 19px;
}

.cartRoute::after {
  content: " ⬤";
  font-size: 7px;
  color: #ea1d63;
  vertical-align: top;
}
.cartRoute {
  color: #ea1d63 !important;
}
.fas {
  padding: 0 20px;
}

.headerForm {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(225, 215, 215);
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}
.headerInput {
  flex-grow: 2;
  border: none;
  border-radius: 5px;
}
.headerInput:focus {
  outline: none;
}
.headerButton {
  border: 0;
  background-color: #ea1d63;
  color: white;
  border-radius: 5px !important;
}
::placeholder {
  color: rgb(179, 174, 174);
  font-size: 18px;
}
